
@{
    ViewBag.Title = "Dashboard";
}
<h1>Welcome @User.Identity.Name</h1>

@foreach (string item in ViewBag.RenderView)
{
    @Html.Partial(item)
   
}





@section scripts{

    <script src="~/Scripts/UserDashboard.js"></script>
    <script src="~/Scripts/Fileextensionvalidator.js"></script>

}