
@model MvcConverters.Models.PdftoHtml

<h2>Pdf to Html</h2>
@using (Html.BeginForm("Dashboard", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("From");
    @Html.DropDownList("listfrom", (IEnumerable<SelectListItem>)ViewBag.listfrom, "Select From");
    @Html.Label("To");
    @Html.DropDownList("listto", (IEnumerable<SelectListItem>)ViewBag.listto, "Select To");

}


<label for="file">Choose File:</label>
<input type="file" name="file" id="file" />
<input type="submit" class="btn btn-primary" value="Convert" id="btntype1" onclick="Validate(this)" />